<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Auth</title>
   <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<nav>
  <h2>Authentication</h2>
</nav>
<div>
  <form>
    <h2 align="center">FORM</h2>
    <label>Name:</label>
    <input type="text"><br><br>
    <label>Lastname:</label>
    <input type="text"><br><br>
    <label>Surname:</label>
    <input type="text" ><br><br>
    <label>Password:</label>
    <input type="password" ><br><br>
    <label>DOB:</label>
    <input type="date" ><br><br>
    <label>Series passport:</label>
    <input type="text"><br><br>
    <label>Number passport:</label>
    <input type="text" ><br><br>

    <button type="submit">Submit</button>
  </form>
</div>
</body>
</html>