<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration Form</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body class="bg-blue">
<nav>
    <h2>Registration</h2>
</nav>
<div>
<form th:method="POST" th:action="@{/user}" th:object="${users}">
    <h2 align="center">FORM</h2>
    <label>Name:</label>
    <input type="text" th:field="*{name}"><br><br>
    <label>Lastname:</label>
    <input type="text" th:field="*{lastName}"><br><br>
    <label>Surname:</label>
    <input type="text" th:field="*{surname}"><br><br>
    <label>Password:</label>
    <input type="password" th:field="*{password}"><br><br>
    <label>DOB:</label>
    <input type="date" th:field="*{DOB}"><br><br>
    <label>Series passport:</label>
    <input type="text" th:field="*{series_of_passport}"><br><br>
    <label>Number passport:</label>
    <input type="text" th:field="*{number_of_passport}"><br><br>

    <button type="submit">Submit</button>
</form>
</div>
</body>
</html>