<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration Form</title>
    <link rel="stylesheet" type="text/css" href="../static/css/main.css" th:href="@{/css/main.css}">
</head>
<body >
<nav>
    <h2>Registration</h2>
</nav>
<div>
<form th:method="POST" th:action="@{/user/reg}" th:object="${users}">
    <h2 align="center">FORM</h2>
    <label>Name:</label>
    <input type="text" th:field="*{username}"><br><br>
    <label>Lastname:</label>
    <input type="text" th:field="*{lastName}"><br><br>
    <label>Surname:</label>
    <input type="text" th:field="*{surname}"><br><br>
    <label>Password:</label>
    <input type="password" th:field="*{password}"><br><br>
    <label>DOB:</label>
    <input type="date" th:field="*{DOB}"><br><br>
    <label>Phone num:</label>
    <input type="text" th:field="*{pnum}"><br><br>
    <label>Series passport:</label>
    <input type="text" th:field="*{series_of_passport}"><br><br>
    <label>Number passport:</label>
    <input type="text" th:field="*{number_of_passport}"><br><br>

    <button type="submit">Sign Up</button>
</form>
</div>
</body>
</html>